@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 90%;
}

html,
body {
  max-width: 100vw;  
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #dbd9d9;
}

@layer components {
  .button {
    @apply bg-[#18332f] rounded-md px-8 py-2 cursor-pointer hover:bg-[#295a52] transition-all ease-in-out duration-300 md:px-5 xs:px-2;
  }

  .link {
    @apply cursor-pointer hover:text-[rgb(163,200,142)] transition-all ease-in-out duration-300 lg:text-sm;
  }

  .tabs {
    @apply rounded-3xl py-3 px-4 -translate-y-5 shadow-md transition-all duration-300;
  }

  .secondary-heading {
    @apply text-lg uppercase font-bold text-[rgb(97,135,110)];
  }
}

@media (max-width: 769px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 426px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 55%;
  }
}
