@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #eae7b1;
}

@layer components {
  .button {
    @apply bg-[#18332f] rounded-md px-8 py-2 cursor-pointer hover:bg-[#295a52] transition-all ease-in-out duration-500;
  }

  .link {
    @apply cursor-pointer hover:text-[#a3c88e] transition-all ease-in-out duration-300;
  }
}
